@page "/"

<AuthorizeView Roles="User">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to StorageSystem!</h1>
        <p class="lead">Find the perfect chairs and other items for your special event. We offer a wide selection to suit any occasion, including weddings, conferences, and parties.</p>
        <hr class="my-4">
        <p>Click the button below to browse our collection and rent the items you need for your event.</p>
        <button class="btn btn-primary btn-lg" @onclick="NavigateToItemsPage">Browse Collection</button>
    </div>
</AuthorizeView>
<AuthorizeView Roles="Admin">
    <p>You are logged in as an administrator.</p>
</AuthorizeView>
<AuthorizeView Roles="Employee">
    <p>You are logged in as an employee.</p>
</AuthorizeView>
<AuthorizeView Roles="Manager">
    <p>You are logged in as a manager.</p>
</AuthorizeView>


@code {
    @inject NavigationManager NavigationManager



    private void NavigateToItemsPage()
    {
        NavigationManager.NavigateTo("/products");
    }
}
