@inherits LayoutComponentBase

<PageTitle>StorageSystem</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />

    </div>

    <main>
        <div class="top-row px-4">
             <Cart CartItemCount="@cartItemCount" />
            <LoginDisplay></LoginDisplay>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    int cartItemCount = 0;
}