

@if (OrderStatus == OrderStatusEnum.Pending)
{
    <div class="alert alert-warning" role="alert">
        Your order is pending and waiting for admin confirmation.
    </div>
}
else if (OrderStatus == OrderStatusEnum.Confirmed)
{
    <div class="alert alert-success" role="alert">
        Your order has been confirmed by the admin.
    </div>
}
else if (OrderStatus == OrderStatusEnum.Declined)
{
    <div class="alert alert-success" role="alert">
        Your order has been declined by the admin.
    </div>
}

@code {
    [Parameter] public OrderStatusEnum OrderStatus { get; set; }

    public enum OrderStatusEnum
    {
        Pending,
        Confirmed,
        Declined
    }
}