@page "/products"

@inject IViewProductsUseCase ViewProductsUseCase
@inject IAddProductToCartUseCase AddProductToCartUseCase
@inject AuthenticationStateProvider AuthStateProvider
@using Microsoft.AspNetCore.Identity

<h3>Products</h3>

@if (products != null)
{
    <div class="container d-flex flex-wrap">
        @foreach (var product in products)
        {
            <div class="card" style="width: 18rem;">
                <img src="@product.ImageLink" class="card-img-top" alt="product image">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <div class="d-flex align-baseline">
                        <p class="card-text w-50 font-weight-bold">@product.Price $</p>
                        <button type="button" @onclick="EventCallback.Factory.Create(this, () => OnClickAddProduct(product))" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<Product> products;
    private ShoppingCart cart;

    //protected override void OnInitialized()
    //{
    //    base.OnInitialized();

    //    products = ViewProductsUseCase.Execute();
    //}

    private bool isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        IdentityUser user;
        isLoggedIn = authState.User.Identity.IsAuthenticated;
        if (isLoggedIn )
        {
            
        }

        products = ViewProductsUseCase.Execute();
    }
    private async Task OnClickAddProduct(Product product)
    {
        await Task.Run(() => AddProductToCartUseCase.Execute(cart, product));
    }


}
