@page "/products"

@inject IViewProductsUseCase ViewProductsUseCase
@inject IAddProductToCartUseCase AddProductToCartUseCase
@inject IGetCartUseCase GetCartUseCase
@inject UserManager<IdentityUser> UserManager
@inject AuthenticationStateProvider AuthStateProvider
@inject DataContext dbContext
@using Microsoft.AspNetCore.Identity
@using Plugins.DataStore.MySQL

<h3>Products</h3>

@if (products != null)
{
    <div class="container d-flex flex-wrap">
        @foreach (var product in products)
        {
            <div class="card" style="width: 18rem;">
                <img src="@product.ImageLink" class="card-img-top" alt="product image">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <div class="d-flex align-baseline">
                        <p class="card-text w-50 font-weight-bold">@product.Price $</p>
                        <button type="button" @onclick="EventCallback.Factory.Create(this, () => OnClickAddProduct(product))" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<Product> products;
    private ShoppingCart cart;

    // private UserManager<IdentityUser> _userManager;

    private bool isLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isLoggedIn = user.Identity.IsAuthenticated;
        
        if (isLoggedIn )
        {
            cart = GetCartUseCase.Execute(UserManager.GetUserId(user));
        }
        else
        {
            cart = GetCartUseCase.Execute(null);
        }

        products = ViewProductsUseCase.Execute();
    }
    //private async Task OnClickAddProduct(Product product)
    //{
    //    await Task.Run(() => AddProductToCartUseCase.Execute(cart, product));
    //}
    private async Task OnClickAddProduct(Product product)
    {
        if (cart == null)
        {
            var authState = await AuthStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                var userId = UserManager.GetUserId(user);
                cart = new ShoppingCart { UserId = userId };

                dbContext.ShoppingCarts.Add(cart);
                await dbContext.SaveChangesAsync();
            }
        }

        await Task.Run(() => AddProductToCartUseCase.Execute(cart, product));
    }



}
