@page "/cart"

@inject IViewProductsUseCase ViewProductsUseCase
@inject IAddProductToCartUseCase AddProductToCartUseCase
@inject IGetCartUseCase GetCartUseCase
@inject IGetCartProductsUseCase GetCartProductsUseCase
@inject ICreateOrderUseCase CreateOrderUseCase
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider
@using Microsoft.AspNetCore.Identity

@if (products != null)
{
            
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>
                            Item Name
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Price (each)
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var product in products)
                {
                    <tr>
                        <td>
                            @product.Key.Name
                        </td>
                        <td>
                            <img src="@product.Key.ImageLink" alt="" style="width:76px;height:76px;">
                        </td>
                        <td>
                            @product.Key.Price $
                        </td>
                        <td>
                            <input type="number" min="1" @bind="@quantityMap[product.Key]" @oninput="async (e) => await UpdateQuantity(product.Key, quantityMap[product.Key])" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-link" @onclick="() => RemoveProductFromCart(product.Key)">Remove From Cart</button>
                        </td>
                    </tr>
                    
                    
                }
                
            </table>
            <button type="button" @onclick="OnClickOrder" class="btn btn-primary">Continue</button>
}
else
{
    <div>Your cart is empty!</div>
}

@code {
    private ShoppingCart cart;
    private List<KeyValuePair<Product, int>> products;
    private Dictionary<Product, int> quantityMap = new Dictionary<Product, int>();

    protected override async Task OnInitializedAsync()
    {
        await LoadCartData();
    }

    private async Task LoadCartData()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var isLoggedIn = user.Identity.IsAuthenticated;

        if (isLoggedIn)
        {
            cart = GetCartUseCase.Execute(UserManager.GetUserId(user));
            var cartProducts = GetCartProductsUseCase.Execute();
            cartProducts = cartProducts.Where(cp => cp.ShoppingCartId == cart.Id).ToList();
            products = ViewProductsUseCase.ConvertCartProductsToProducts(cartProducts);
            foreach (var product in products)
            {
                quantityMap[product.Key] = product.Value;
            }
        }
        else
        {
            products = null;
        }
    }

    private async Task RemoveProductFromCart(Product product)
    {
        AddProductToCartUseCase.RemoveProductFromCart(cart, product);
        await LoadCartData();
    }

    private async Task UpdateQuantity(Product product, int quantity)
    {
        var cartProduct = cart.CartProducts.Find(cp => cp.ProductId.Equals(product.ProductId));
        if (cartProduct != null)
        {
            cartProduct.Quantity = quantity;
            await AddProductToCartUseCase.UpdateProductQuantity(cart, cartProduct);
            await LoadCartData();
        }
    }

    private async void OnClickOrder()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        // Create the order object
        var order = new Orders
            {
                CustomerEmail = user.Identity.Name,
                CartProducts = cart.CartProducts,
                Adress = "", // Set this to the address entered by the user
                DeliveryDay = DateTime.Now, // Set this to the delivery day entered by the user
                PickupDay = DateTime.Now, // Set this to the pickup day entered by the user
                TaxNumber = 0, // Set this to the tax number entered by the user
                DaysOfRenting = 0, // Set this to the number of days entered by the user
            };

        // Call the use case to create the order
        await CreateOrderUseCase.ExecuteAsync(order);

        // Navigate to the order confirmation page
        NavigationManager.NavigateTo("/order-confirmation");
    }

}

