@page "/users"
@*@attribute [Authorize(Roles = "Admin")]*@
@using Microsoft.AspNetCore.Identity

@inject IViewUsersUseCase ViewUsersUseCase
@inject UserManager<IdentityUser> UserManager

<h3>Users</h3>
@if (users != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Phone number</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>@getRole(user)</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<IdentityUser> users;
    private IEnumerable<(int, string)> userRoles;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        users = ViewUsersUseCase.Execute();
    }

    private string getRole(IdentityUser user)
    {
        Task<IList<string>> roles = UserManager.GetRolesAsync(user);
        return roles.Result.FirstOrDefault();
    }
}
