@page "/users"
@attribute [Authorize(Roles = "Admin, Manager")]

@using CoreBuisness.User;
@using Microsoft.AspNetCore.Identity

@inject IViewUsersUseCase ViewUsersUseCase
@inject UserManager<AppUser> UserManager

<h3>Users</h3>
@if (_users != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Phone number</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in _users)
            {
                <tr>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            @if(userRoleDict.TryGetValue(user, out var role))
                {
                <td>@role</td>
                }
                else
                {
                <td></td>
                }
                </tr>
            }
            </tbody>
            </table>
            }

@code{
        private IEnumerable<AppUser>? _users;
        
    private Dictionary<AppUser, string> userRoleDict = new Dictionary<AppUser, string>();
        protected override async Task OnInitializedAsync()
        {
            _users = ViewUsersUseCase.Execute();
            foreach(var user in _users)
            {
                var roles = await UserManager.GetRolesAsync(user);
                userRoleDict.Add(user, roles.FirstOrDefault());
            }
        }
    }